# These are the requirements for readthedocs
ipykernel
docutils
Pygments>=2.6.1
Sphinx>=7.3.7
sphinx_design
furo
nbsphinx
setuptools
pyyaml
earthkit-data @ git+https://github.com/ecmwf/earthkit-data@develop
earthkit-geo @ git+https://github.com/ecmwf/earthkit-geo@develop
earthkit-utils @ git+https://github.com/ecmwf/earthkit-utils@develop
earthkit-transforms @ git+https://github.com/ecmwf/earthkit-transforms@develop
earthkit-plots @ git+https://github.com/ecmwf/earthkit-plots@develop
earthkit-hydro @ git+https://github.com/ecmwf/earthkit-hydro@develop
earthkit-meteo @ git+https://github.com/ecmwf/earthkit-meteo@develop
